header {
  padding-block: 1.25rem;

  & > img {
    margin-right: auto;
  }

  & a + img {
    width: 2.5rem;
    height: 2.5rem;
  }

  & div #magnifying-glass {
    width: 1.5rem;
    height: 1.5rem;
    background: url(../assets/icons/MagnifyingGlass.svg) no-repeat;

    &:hover {
      background: url(../assets/icons/MagnifyingGlassHover.svg) no-repeat;
      cursor: pointer;
    }
  }
}